<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>머무름</title>
    <link rel="stylesheet" href="/css/content/styles.css">
</head>
<body>
<div class="container">
    <!-- 헤더 -->

    <div class="container">
        <header class="header">
            <nav class="navbar">
                <div class="brand">머무름</div>
                <div class="menu">
                    <!-- 로그인한 경우 -->
                    <span class="username" th:if="${username != null}" th:text="${username} + ' 님'">User</span>

                    <!-- 로그인하지 않은 경우 로그인/회원가입 버튼 표시 -->
                    <a href="/api/login" th:if="${username == null}">회원가입/로그인</a>

                    <!-- 로그인한 경우 로그아웃 버튼 표시 -->
                    <a href="/logout" th:if="${username != null}">로그아웃</a>
                </div>
            </nav>
        </header>
        <h1>어떤 정보를 공유해볼까요?</h1>
    </div>

    <!-- 내용 리스트 -->
    <div class="content-list">
        <hr>
        <div th:each="content : ${content}">
            <a th:href="@{'contents/content-detail/' + ${content.id}}" class="content-card">
                <h3 th:text="${content.title}">타이틀</h3>
                <p th:text="${content.description}">설명</p>
            </a>
            <hr>
        </div>
    </div>


    <!-- 추가 버튼 -->
    <a href="/api/contents/content-form">
        <button class="add-button">+</button>
    </a>

</div>
<script>
    <!--    const addButton = document.querySelector('.add-button');
        const popup = document.querySelector('#popup');
        const closePopup = document.querySelector('#closePopup');
        const toggleTrigger = document.getElementById('toggleTrigger');
        const alternateOptions = document.getElementById('alternateOptions');

        // 팝업 열기와 자동 로그인 여부 확인
        addButton.addEventListener('click', function (e) {
            e.preventDefault();
                popup.style.display = "block"; // 로그인 팝업 표시

         });

        // 팝업 닫기
        closePopup.addEventListener('click', function () {
            popup.style.display = "none";
        });

        // 팝업 바깥 클릭 시 닫기
        document.addEventListener('click', function (event) {
            if (!popup.contains(event.target) && !addButton.contains(event.target)) {
                popup.style.display = "none";
            }
        });

        // "다른 방법으로 시작하기" 토글
        toggleTrigger.addEventListener('click', () => {
            if (alternateOptions.style.display === 'none' || alternateOptions.style.display === '') {
                alternateOptions.style.display = 'block';
                toggleTrigger.textContent = '다른 방법으로 시작하기 ▲';
            } else {
                alternateOptions.style.display = 'none';
                toggleTrigger.textContent = '다른 방법으로 시작하기 ▼';
            }
        });-->
</script>
</body>
</html>