<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Property</title>
</head>
<body>
<h1>Add New Property</h1>
<form th:action="@{/api/contents/new}" th:object="${content}" method="post">
    <input type="text" th:field="*{title}" placeholder="제목" />
    <input type="text" th:field="*{location}" placeholder="위치" />
    <input type="text" th:field="*{username}" placeholder="닉네임" />
    <input type="text" th:field="*{description}" placeholder="설명" />


    <button type="submit">Submit</button>
</form>
</body>
</html>
