<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Post</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Write a New Post</h1>
    <form th:action="@{/api/contents/new}" method="post">
        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="description">설명:</label>
            <textarea id="description" name="description" required></textarea>
        </div>

        <div>
            <label for="location">위치 : </label>
            <input type ="text" id="location" name="loaction" required>
        </div>
        <div>
            <button type="submit">저장하기</button>
        </div>
    </form>
</div>
</body>
</html>
