<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>머무름 - 홈</title>
    <link rel="stylesheet" href="/css/home/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">

</head>

<script>

    document.querySelectorAll('.icon-item').forEach(item => {
        item.addEventListener('click', () => {
            const link = item.querySelector('a');
            if (link) {
                window.location.href = link.href;
            }
        });
    });
</script>
<body>

<div class="container">
    <header class="header">
        <nav class="navbar">
            <div class="brand">
                <a href="/"> ← </a>
            </div>
            <div class="menu">
                <a href="/api/login"> 🗺️ </a>
                <a href="/api/login"> 📅 </a>
            </div>
        </nav>
    </header>
</div>
<div class="container mt-5">
    <h3 class="new-rooms-title"> 방 등록 </h3>
    <h5 class="new-rooms-subtitle"></h5>
</div>
<p></p>
<p></p>


호⁠스⁠팅 예⁠상 수⁠입
₩5000000



</body>
<footer class="footer">
    <nav>
        <a href="#">홈</a>
        <a href="/api/room/map">지도</a>
        <a href="#">피드</a>
        <a href="#">더보기</a>
    </nav>
</footer>

</html>

